#wrap{width: 100%;}
#header{width: 100%;height: 13.8889vw;position: absolute;left: 0;top: 0; background: rgba(255, 255, 255,0.8);z-index: 10;}
#header h1{position: absolute;left: 5.5556vw;top: 50%;transform: translateY(-50%);}
#header .all-menu{position: absolute;right: 5.5556vw;top: 50%;transform: translateY(-50%);}
#header .all-menu i{font-size: 8.3333vw;}
.bg{position: fixed;width: 100vw;height: 100vh;background: #000;right: 0;top: 0;z-index: 10;opacity: 0.6;transition: 0.3s;
opacity: 0;pointer-events: none;}
.bg.on {opacity: 0.6;}
#nav{width: 90%;height: 100vh;position: fixed;right: -100%;top: 0;background: #fff;z-index: 50;transition: 0.4s;border-radius: 8.3333vw 0 0 0;padding: 19.4444vw 12.5000vw;box-sizing: border-box;}

#nav.on{right: 0;}
#nav .close{position: absolute;right: 5.5556vw;top: 5.5556vw;}
#nav .close i{font-size: 8.3333vw;}
#nav .gnb li a{font-size: 6.1111vw;line-height: 13.8889vw;position: relative;display: block;}
#nav .gnb li a i{position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
#nav .gnb li ul li a{font-size: 4.4444vw;line-height: 8.3333vw;text-indent: 5.5556vw;}

#visual{width: 100%;}
#visual h2{width: 100%; text-align: center; font-size: 5.5556vw;color: #fff;position: absolute;left: 50%;top:41.6667vw;transform: translateX(-50%); z-index: 10;}
#visual h2 span{font-weight: 500;}
#visual .swiper-pagination-bullet, 
#visual .swiper-pagination-bullet-active{ --swiper-theme-color: #ffffff;}

#container{width: 100%;}
#content{width: 100%;}
.main{width: 100%;}
.main .inner{width: 88.8889vw;margin: auto;position: relative;box-sizing: border-box;}
.main .con{margin-bottom: 11.1111vw;}
.main .con h2{font-size: 5.5556vw;font-weight: 600;}
.main .con strong{font-size: 6.9444vw;}
.main .con h3{font-size: 5.0000vw;}

.main .search{width: 100%;}
.main .search ul{display: flex;justify-content: space-between;}
.main .search ul li{width: 33.3333vw;text-align: center;background: #fff;padding: 2.7778vw 0;}
.main .search ul li a p{font-size: 4.4444vw;margin-top: 1.3889vw;}

.main .business{width: 100%;background: #f2f2f2;margin-bottom: 0;}
.main .business .inner{padding-top: 11.1111vw;padding-bottom: 8.3333vw;}
.main .business h2{text-align: center;margin-bottom: 5.5556vw;color: #167E55;}
.main .business ul{display: flex;justify-content: space-between; flex-wrap: wrap;}
.main .business ul li{width: 43.0556vw;height: 34.7222vw;background: #fff;border-radius: 2.7778vw; text-align: center;margin-bottom: 2.7778vw;padding: 5.5556vw;box-sizing: border-box;vertical-align: middle;}
.main .business ul li a h3{font-size: 5.0000vw; margin-bottom: 2.7778vw;}

.main .recruit{width: 100%; text-align: center;background-repeat: no-repeat;background-position: 0 0;background-image: url(../images/recruit_bg.png);padding-top: 13.8889vw;padding-bottom: 19.4444vw;box-sizing: border-box;background-size: cover;}
.main .recruit{width: 100%;}
.main .recruit h2{margin-bottom: 5.5556vw;color: #F0DA11;}
.main .recruit strong{color: #fff;}
.main .recruit p{margin-top: 9.7222vw;}
.main .recruit p a{display: block;font-size: 4.4444vw;width: 41.6667vw;height: 8.3333vw;border: 0.2778vw solid #fff;line-height: 8.3333vw;text-align: center;margin: auto;color: #fff;}

.main .news{width: 100%;}
.main .news h2{margin-bottom: 2.7778vw;color: #F0DA11;}
.main .news strong{display: block;}
.main .news h3{font-size: 4.4444vw;  text-align: left;
    margin-top: 1.3889vw;
    margin-bottom: 4.1667vw;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main .news h3+span{font-size: 4.4444vw; display: block;text-align: left;}

#newsSlide.swiper-horizontal>.swiper-pagination-bullets, 
#newsSlide.swiper-pagination-bullets.swiper-pagination-horizontal, 
#newsSlide.swiper-pagination-custom, 
#newsSlide.swiper-pagination-fraction {
    left: 0;
    top: 4.1667vw;
    text-align-last: left;
    height: 5.5556vw;
    width: auto;
}

#newsSlide .swiper-wrapper {
    padding-top: 12.5000vw;}

#newsSlide .plus{position: absolute;right: 0;top: 2.7778vw;}
#newsSlide .plus a i{font-size: 6.9444vw;}

#newsSlide .swiper-pagination-bullet, 
#newsSlide .swiper-pagination-bullet-active{ --swiper-theme-color: #f0da11;}

.main .top{width: 100%;}
.main .top a{width: 100%; height: 11.1111vw; background: #555555;color: #fff;display: block;text-align: center;line-height: 11.1111vw;font-size: 4.4444vw;}

#footer{}
#footer .inner{width: 88.8889vw;margin: auto;position: relative;box-sizing: border-box;}
#footer h2{margin: 5.5556vw 0;}

#footer p{margin-bottom: 2.7778vw;}
#footer p a{font-size: 3.8889vw;margin-right: 1.3889vw;}
#footer p a::after{content:"";width: 0.2778vw;height: 2.7778vw;background: rgba(0, 0, 0,0.6);display: inline-block;margin-left: 1.3889vw;}
#footer p a:last-child::after{display: none;}

#footer .last{margin-bottom: 5.5556vw;}
#footer .last span{font-size: 3.3333vw;display: block;}